@model Rent_a_Car.ViewModel.bannerModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <br />
        @Html.ActionLink("Fotoğraflar", "FotoListele", null, new { @class = "btn btn-warning" })
        <h2>Fotoğraf Ekle</h2>
        @using (Html.BeginForm("FotoEkle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.LabelFor(k => k.foto)<br />
            @Html.TextBoxFor(k => k.foto, new { type = "file", @class = "form-control" })
            @Html.ValidationMessageFor(k => k.foto, null, new { @class = "text-danger" })<br />
            <input type="submit" name="submit" value="Kaydet" class="btn btn-success" />
            <br /><br />
        }
        @if (ViewBag.sonuc != null)
        {
            <p class="alert alert-success">@ViewBag.sonuc</p>
        }
    </div>
</div>